/* SKINNY THEME */
@layer theme {
  :root {
    /* font styles */

    /* button styles */
    --button-rad: 9px;
    --button-pad-y: 0.75rem;
    --button-pad-x: 1.75rem;

    /* light theme styles */
    --primary: #1e3a8a;
    --accent: #f97316;
    --text: #374151;
    --sections: #ffffff;
    --background: #f3f4f6;
    --header-footer: #1e3a8a;
    --button-bg: #1e3a8a;
    --button-text: #ffffff;
    --cta-bg: #f97316;
    --cta-text: #1f2937;
    --icon: #374151;
  }

  :global(body.dark) {
    /* dark theme styles */
    --primary: #3b82f6;
    --accent: #fb923c;
    --text: #e5e7eb;
    --sections: #2d2d2d;
    --background: #121212;
    --header-footer: #3b82f6;
    --button-bg: #3b82f6;
    --button-text: #ffffff;
    --cta-bg: #c2410c;
    --cta-text: #ffffff;
    --icon: #e5e7eb;
  }
}

@layer fonts {
  /* Quicksand Variable Font */
  @font-face {
    font-family: "Quicksand";
    src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf")
      format("truetype");
    font-weight: 300 700;
    /* Range for variable font weights */
    font-style: normal;
    font-display: swap;
  }

  /* Noto Serif Variable Font */
  @font-face {
    font-family: "Noto Serif";
    src: url("../assets/fonts/NotoSerif-VariableFont_wght.ttf")
      format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
}

/* globals */
body {
  background-color: var(--background);
}

.heading {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: var(--text);
}

button,
.button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: var(--button-rad);
  padding: var(--button-pad-y) var(--button-pad-x);
}
